<div class="row">
  <div class="col-sm-4 col-md-3 mb-5 animate__animated animate__fadeIn" style="cursor: pointer"
    *ngFor="let movie of movies" (click)="onMovieClick(movie)">
    <img [src]="movie.poster_path | poster"
      [alt]="movie.title"
      class="img-fluid poster">
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <h5 class="mt-2"><b>{{ movie.title }}</b></h5>
          <i class="fa fa-thermometer-full text-danger" *ngIf="movie.adult" title="Adult Movie" aria-hidden="true"></i>
        </div>
      </div>
    <div class="row text-muted">
      <div class="col-10 col-sm-9">
        <bar-rating [rate]="movie.vote_average"
          [max]="10"
          [readOnly]="true"
          [theme]="'fontawesome-o'"
          class="myStars"></bar-rating>
      </div>
      <div class="col-2 col-sm-3">
        {{ movie.vote_average | number:'1.1-2' }}
      </div>
    </div>
  </div>
</div>
